* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: aliceblue;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eee5e5;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  border-radius: 5px 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 300px;
  min-height: 300px;
  margin-bottom: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.left, .right {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #851919;
  -webkit-box-shadow: 3px 3px 5px #494646;
          box-shadow: 3px 3px 5px #494646;
}

.actions a {
  border: 0;
  outline: none;
  font-size: 15px;
  min-height: 30px;
  border-radius: 0;
  padding: 10px 20px;
  background-color: #494646;
}

.actions a {
  text-decoration: none;
  color: white;
}

.actions a:hover {
  background-color: blueviolet;
  color: black;
}

.container h1 {
  font-size: 20px;
  margin-bottom: 35px;
}

.container form {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container form input {
  border: 0;
  border-radius: 0;
  padding: 10px 0px;
  font-size: 15px;
  min-height: 30px;
  padding: 10px 8px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 25px;
  background-color: #eee5e5;
}

.container form button {
  border: 0;
  outline: none;
  padding: 10px 0;
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 30px;
  font-size: 15px;
  border-radius: 20px;
  color: white;
  background-color: #494646;
}

.container form button:hover {
  background-color: blueviolet;
  color: black;
}

@media only screen and (max-width: 480px) {
  #square {
    min-width: 40vw;
    min-height: 40vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container h1 {
    font-size: 18px;
  }
  #square input,
  #square button {
    margin-left: 75px;
    margin-bottom: 20px;
    width: 150px;
    max-height: 100px;
    font-size: 15px;
  }
  .actions Link {
    font-size: 10px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  #square {
    min-width: 40vw;
    min-height: 40vh;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container h1 {
    font-size: 25px;
  }
  .container form input {
    margin-bottom: 20px;
    width: 250px;
    max-height: 100px;
    font-size: 15px;
  }

  .container form button {
    margin-bottom: 20px;
    width: 200px;
    max-height: 100px;
    font-size: 15px;
  }

  .actions Link {
    font-size: 10px;
  }
}
/*# sourceMappingURL=LoginPage.css.map */